* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }

  .header {
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  nav {
    background-color: #333;
    color: white;
    text-align: center;
  }
  
  .nav_links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 10px 0;
    border-top: 2px solid white; 
  }
  
  .nav_links li {
    margin-right: 20px;
    position: relative; 
  }
  
  .nav_links li:last-child {
    margin-right: 0;
  }
  
  .nav_links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
    padding-bottom: 10px; 
  }
  
  .nav_links li a:hover {
    color: #ff9900;
  }

.terms-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.terms-content h2 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.terms-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.terms-content ol {
    padding-left: 20px;
    list-style-type: decimal;
}

.terms-content li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}
